<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="PublishingService.Client.Id" value="SitecorePublishingService" />
			<setting name="PublishingService.Client.Secret" value="secret" />
		</settings>
		<services>
			<configurator type="SitecoreGroove.Feature.PublishingServiceModule.ServiceConfigurator, SitecoreGroove.Feature.PublishingServiceModule"
							patch:after="processor[@type='Sitecore.Publishing.Service.PublishingServiceConfigurator, Sitecore.Publishing.Service']" />
		</services>
	</sitecore>
</configuration>