<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement or XMCloud">
		<authoring>
			<graphql>
				<schemaRegistrations type="Sitecore.GraphQL.NetFxHost.SchemaRegistrationSource, Sitecore.GraphQL.NetFxHost">
					<param desc="registrations" hint="list:">
						<sitecoreGroove type="SitecoreGroove.Feature.AuthoringAndManagementApi.SchemaRegistration, SitecoreGroove.Feature.AuthoringAndManagementApi" />
					</param>
				</schemaRegistrations>
			</graphql>
		</authoring>
	</sitecore>
</configuration>