<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HotChocolate.Abstractions" version="10.5.5" targetFramework="net48" />
  <package id="HotChocolate.Types" version="10.5.5" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Sitecore.GraphQL.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.4.0" targetFramework="net48" />
</packages>